<div class="col-md-12" ng-controller="SmsCampaignController">
    <ul class="globalnav">
        <li><a href ng-click="selectTab(1)" ng-class="{ here:isSelected(1)}">Campaign</a></li>
        <li><a href ng-click="selectTab(2)" ng-class="{ here:isSelected(2)}" ng-disabled="campaign.$invalid">Message</a>
        </li>
        <li><a href ng-click="selectTab(3)" ng-class="{ here:isSelected(3)}" ng-disabled="campaign.$invalid">Preview</a>
        </li>
    </ul>
    <div id="campaignDetails" class="campaign-body" ng-show="isSelected(1)">
        <h1>Create New SMS Campaign - Campaign</h1>

        <div class="col-md-12">
            <form class="form-horizontal" name="campaign">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="campaignName">Campaign Name:<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="text" id="campaignName" name="campaignName" ng-model="formData.campaignName"
                               class="form-control" required
                               late-Validate/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="campaignType">Campaign Type:<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <select id="campaignType" name="campaignType" ng-model="formData.campaignType"
                                ng-options="campaignType as campaignType.name for campaignType in campaignTypes"
                                class="form-control" required
                                late-Validate>
                            <option value="">-- Select Campaign Type --</option>
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="businessRule">Business Rule<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <select type="text" id="businessRule" name="businessRule" ng-model="formData.businessRule"
                                ng-options="businessRule as businessRule.name for businessRule in businessRules"
                                class="form-control" required
                                late-Validate>
                            <option value="">-- Select Business Rule --</option>
                        </select>
                    </div>
                </div>

                <div class="business-rules-params" ng-show="formData.businessRule">
                    <h1>Business Rules Parameters</h1>
                    <div ng-show="formData.businessRule.id==1">
                        <h2>All clients with status 'Active'</h2>
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ 'label.heading.office' | translate }}:<span
                                    class="required">*</span></label>

                            <div class="col-sm-3">
                                <select id="officeId" ng-model="formData.officeId" class="form-control"
                                        ng-options="office.id as office.name for office in offices"
                                        value="{{office.id}}"
                                        required late-validate>
                                    <option value="">-- Select Office --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <a href ng-click="selectTab(2)" class="btn btn-primary" has-permission='CREATE_CLIENT'
                       ng-disabled="campaign.$invalid">Next&nbsp;<i class="icon-arrow-right icon-white"></i></a>
                </div>
            </form>
        </div>
    </div>

    <div id="campaignMessage" class="campaign-body" ng-show="isSelected(2)">
        <h1>Create New SMS Campaign - Message</h1>

        <label>Select message template</label>
        <input ng-autofocus="true" ng-model="filterText" ng-keyup="onFilter()" type="text"
               class="span marginbottom0px form-control" placeholder="{{ 'label.input.filterbyname' | translate }}">

        <div class="campaign-table">
            <table>
                <thead>
                <tr class="graybg">
                    <th>{{ 'label.heading.entity' | translate }}</th>
                    <!--<th>{{ 'label.heading.type' | translate }}</th>-->
                    <th>{{ 'label.heading.name' | translate }}</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer-main" ng-repeat="template in templates | filter:filterText">
                    <td>{{template.entity}}</td>
                    <!--<td>{{template.type}}</td>-->
                    <td>{{template.name}}</td>
                    <td>{{template.message}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="campaignReview" class="campaign-body" ng-show="isSelected(3)">
        <h1>Create New SMS Campaign - Review</h1>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="campaignName">Campaign Name:</label>

                <div class="col-sm-3">
                    <input type="text" name="campaignName" ng-model="formData.campaignName"
                           class="form-control" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="campaignTypeName">Campaign Type:</label>

                <div class="col-sm-3">
                    <input type="text" id="campaignTypeName" name="campaignTypeName"
                           ng-model="formData.campaignType.name"
                           class="form-control" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="campaignName">Business Rule:</label>

                <div class="col-sm-3">
                    <input type="text" name="campaignName" ng-model="formData.businessRule.name"
                           class="form-control" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="campaignName">Message Template:</label>

                <div class="col-sm-3">
                   <textarea type="text" name="campaignName" ng-model="formData.messageTemplate" rows="6"
                             class="form-control " readonly> </textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="campaignName">Total Messages:</label>

                <div class="col-sm-3">
                    <input type="text" name="campaignName" ng-model="formData.totalMessages"
                           class="form-control" readonly/>
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-3">
                <a href ng-click="selectTab(2)" class="btn btn-primary" has-permission='CREATE_CLIENT'
                   ng-disabled="campaign.$invalid"><i class="icon-arrow-left icon-white"></i>&nbsp;Previous</a>
                <a href ng-click="selectTab(2)" class="btn btn-success" has-permission='CREATE_CLIENT'
                   ng-disabled="campaign.$invalid"><i class="icon-save icon-white"></i>&nbsp;Save</a>
            </div>
        </div>
    </div>
</div>